<h3>Create New Table Entry</h3>
<br />
<%= form_for @table, url: tables_new_path, method: :post do |f| %>
  <%= f.label :material %>:
  <%= f.text_field :material %><br />
  <%= f.label :brand_name %>:
  <%= f.text_field :brand_name %><br />
  <%= f.label :name %>:
  <%= f.text_field :name %><br />  
  <%= f.label :price %>:
  <%= f.text_field :price %><br /> 
  <%= f.submit %>
<% end %>