<html class="supernova"><head>

<title><%= @item_type.titleize %></title>

<script type="text/javascript">
   JotForm.init(function(){
	JotForm.clearFieldOnHide="disable";
	JotForm.onSubmissionError="jumpToSubmit";
   });
</script>
</head>
<body>
<form name="form_60636283503150" class="jotform-form" id="60636283503150" action="<%= tables_appraisal_path %>" method="post" accept-charset="utf-8" novalidate="true">
  <input name="table[item_type]" type="hidden" value="<%= @item_type %>">
  <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
  <div class="form-all">
    <ul class="form-section page-section">
      <li class="form-line" id="id_15" data-type="control_text">
        <div class="form-input-wide" id="cid_15">
          <div class="form-html" id="text_15">
            <p style="text-align:center;"><span style="color:#ffffff;"><strong><span style="font-size:12pt;font-family:'trebuchet ms', geneva, sans-serif;">Please select all options that apply to your piece of furniture</span></strong></span></p>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_38" data-type="control_dropdown">
        <label class="form-label form-label-left form-label-auto" id="label_38" for="input_38"> Material type </label>
        <div class="form-input jf-required" id="cid_38">
          <select name="table[material]" class="form-dropdown" id="input_38" style="width:150px">
            <option value="">  </option>
            <option value="Particle Board"> Particle Board </option>
            <option value="Plywood"> Plywood </option>
            <option value="Plastic"> Plastic </option>
            <option value="Cedar"> Cedar </option>
            <option value="Faux Marble"> Faux Marble </option>
            <option value="Faux Stone"> Faux Stone </option>
            <option value="Glass"> Glass </option>
            <option value="Maple"> Maple </option>
            <option value="Pine"> Pine </option>
            <option value="Metal"> Metal </option>
            <option value="Scrolled Iron"> Scrolled Iron </option>
            <option value="Oak"> Oak </option>
            <option value="Mission Oak"> Mission Oak </option>
            <option value="Quarter Sawn Oak"> Quarter Sawn Oak </option>
            <option value="Ash"> Ash </option>
            <option value="Burl"> Burl </option>
            <option value="Ebony"> Ebony </option>
            <option value="Bamboo"> Bamboo </option>
            <option value="Cherry"> Cherry </option>
            <option value="Mahogany"> Mahogany </option>
            <option value="Marble"> Marble </option>
            <option value="Rosewood"> Rosewood </option>
            <option value="Stone"> Stone </option>
            <option value="Teak"> Teak </option>
            <option value="Walnut"> Walnut </option>
            <option value="Rattan"> Rattan </option>
            <option value="Wicker"> Wicker </option>
            <option value="Concrete"> Concrete </option>
            <option value="Slate"> Slate </option>
            <option value="None"> None </option>
            <option selected="selected" value="">  </option>
          </select>
        </div>
      </li>
      <li class="form-line" id="id_40" data-type="control_dropdown">
        <label class="form-label form-label-left form-label-auto" id="label_40" for="input_40"> Finish type </label>
        <div class="form-input jf-required" id="cid_40">
          <select name="table[finish_type]" class="form-dropdown" id="input_40" style="width:150px">
            <option value="">  </option>
            <option value="Distressed"> Distressed </option>
            <option value="Rustic"> Rustic </option>
            <option value="White-Washed"> White-Washed </option>
            <option value="Mirrored"> Mirrored </option>
            <option value='Light (for "plywood" and "particle board"'> Light (for "plywood" and "particle board" </option>
            <option value='Medium (for "plywood" and "particle board"'> Medium (for "plywood" and "particle board" </option>
            <option value='Dark (for "plywood" and "particle board"'> Dark (for "plywood" and "particle board" </option>
            <option value="Photo Finish"> Photo Finish </option>
            <option value="Veneer on solid wood"> Veneer on solid wood </option>
            <option value="Veneer on plywood"> Veneer on plywood </option>
            <option value="Veneer on particle board"> Veneer on particle board </option>
          </select>
        </div>
      </li>
      <li class="form-line" id="id_17" data-type="control_radio">
        <label class="form-label form-label-left form-label-auto" id="label_17" for="input_17"> Carved detailing? </label>
        <div class="form-input jf-required" id="cid_17">
          <div class="form-single-column">
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input name="table[carved_detailing]" class="form-radio" id="input_17_0" type="radio" value="Yes" calcvalue="$75.00">
              <label id="label_input_17_0" for="input_17_0"> Yes </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input name="table[carved_detailing]" class="form-radio" id="input_17_1" type="radio" value="None" calcvalue="$80.00">
              <label id="label_input_17_1" for="input_17_1"> None </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input name="table[carved_detailing]" class="form-radio" id="input_17_2" type="radio" value="Unsure" calcvalue="$150.00">
              <label id="label_input_17_2" for="input_17_2"> Unsure </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_42" data-type="control_textbox">
        <label class="form-label form-label-left form-label-auto" id="label_42" for="input_42"> Brand name or Retailer </label>
        <div class="form-input jf-required" id="cid_42">
          <input name="table[brand_name]" class=" form-textbox" id="input_42" type="text" size="20" value="" data-type="input-textbox">
        </div>
      </li>
	  	  <li class="form-line" id="id_60"><label class=" form-label-left form-label-auto"></label>
		  <div class="form-input"><%= submit_tag "Appraise", class: "btn btn-default", style: "" %></div>
	  </li>
    </ul>
  </div>
</form>
</body></html>