<div class="row">
	<div class = "col-xs-12">		
		<h3>Tables</h3>
		<br />
		<%= form_for_filterrific @filterrific do |f| %>
		  <div class = "row">
		  	<div class = "col-xs-4">
		  		<label for="search_query" class="control-label">Search</label>
			    <%= f.text_field(
			      :search_query,
			      class: 'filterrific-periodically-observed form-control'
			    ) %>
			</div>
		  	<div class="col-xs-3 col-xs-offset-1">
		  	  <label class="control-label">Item Type</label>
 			  <%= f.collection_select :item_type, Table.order(:item_type).select("item_type").uniq,:item_type,:item_type, {include_blank: true}, {class: 'filterrific-periodically-observed form-control'} %>
   			</div>
		    <div class="col-xs-2 col-xs-offset-2">
		      <%= link_to(
		        'Reset filters',
		        reset_filterrific_url,
		      ) %>
		    </div>
	      </div>
		  <%# add an automated spinner to your form when the list is refreshed %>
		  <%= render_filterrific_spinner %>
		<% end %>
		<br />
		<%= render(
			  partial: 'tables/list',
			  locals: { tables: @tables }
			) %>
	</div>
</div>
