<h3>Seed Table from Product Type</h3>
<br />
<%= form_tag tables_get_products_path do %>
	<%= label_tag :product_type %><br />
	<%= text_field_tag :product_type %><br />
	<%= label_tag :offset %><br />
	<%= text_field_tag :offset %><br />
	<%= submit_tag "Seed" %>
<% end %>